@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Define Custom Colors */
  --color-synapse-dark: #0F1014;
  --color-synapse-surface: #1E1F25;
  
  --color-accent-peach: #FFF0E3;
  --color-accent-pink: #FBEBF3;
  --color-accent-lime: #F1F7E6;

  /* Define Custom Fonts */
  --font-display: 'Poppins', sans-serif;
  --font-sans: 'Inter', sans-serif;

  /* Define Custom Border Radius */
  --radius-4xl: 32px;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: #F8F9FB;
}

/* Custom Scrollbar */
.dark-scroll::-webkit-scrollbar { width: 6px; }
.dark-scroll::-webkit-scrollbar-track { background: #0F1014; }
.dark-scroll::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
